.Ecom-Ecom-Web-UI-Styles-Buttons-GLobalButtons
{
    background: white;
    margin: 8px 10px 8px 10px;
    border-radius: 2px;
}
.Ecom-Ecom-Web-UI-Styles-Buttons-GLobalButtons:hover
{
    cursor: pointer;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle-state {
    display: none; /* Hide the default checkbox */
}

.indicator {
    width: 50px; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
    background-color: gray; /* Default color */
    border-radius: 25px;
    position: relative;
    transition: background-color 0.2s;
}

.toggle-state:checked + .indicator {
    background-color: green; /* Color when toggled */
}

.indicator:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px; /* Start position */
    width: 20px; /* Size of the circle */
    height: 20px; /* Size of the circle */
    background-color: white; /* Color of the circle */
    border-radius: 50%;
    transition: transform 0.2s;
    transform: translateY(-50%); /* Center the circle vertically */
}

.toggle-state:checked + .indicator:before {
    transform: translate(25px, -50%); /* Move circle when toggled */
}
